<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col col-3">
                img
            </div>
            <div class="col col-9">
                <h5 class="card-title">Character Name</h5>
                <h6>stat 1 - stat 2 - stat 3</h6>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <div class="card-body">
        <div class="row">
            <div class="col col-3 text-right">
                info1
                info2
                info3
            </div>
            <div class="col col-9">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <div class="row">
                    <div class="col col-4">
                        link2
                    </div>
                    <div class="col col-4">
                        link3
                    </div>
                    <div class="col col-4">
                        link4
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>