<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col col-3">
                <img src="{{character.basic.imgUrl}}" style="max-width: 100%">
            </div>
            <div class="col col-9">
                <h5 class="card-title">{{character.basic.name}}</h5>
                <h6>{{character.themeData.card.descriptors.desc1}} - {{character.themeData.card.descriptors.desc2}} - {{character.themeData.card.descriptors.desc3}}</h6>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <div class="card-body">
        <div class="row">
            <div class="col col-3 text-right">
                <div class="row">
                    {{character.themeData.card.info.info1}}
                </div>
                <div class="row">
                    {{character.themeData.card.info.info2}}
                </div>
                <div class="row">
                    {{character.themeData.card.info.info3}}
                </div>
            </div>
            <div class="col col-9">
                <p class="card-text">{{character.basic.bio}}</p>
                <div class="row">
                    <div class="col col-4">
                        <h4><a href="{{character.themeData.card.links.link1.url}}">{{character.themeData.card.links.link1.display}}</a></h4>
                    </div>
                    <div class="col col-4">
                        <h4><a href="{{character.themeData.card.links.link2.url}}">{{character.themeData.card.links.link2.display}}</a></h4>
                    </div>
                    <div class="col col-4">
                        <h4><a href="{{character.themeData.card.links.link3.url}}">{{character.themeData.card.links.link3.display}}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>