<app-alert-container></app-alert-container>
<div class="container-fluid d-flex flex-column vh-100">
  <div *ngIf="displayMenus" class="row py-2">
    <div class="col col-12">
      <div class="row">
        <div class="col col-3">
          <table class="h-100 w-100">
            <tr>
              <td style="vertical-align: middle">
                <h4>Spec's Select Maker <small class="text-muted" style="font-size: .5em">v{{version}}</small></h4>
              </td>
            </tr>
          </table>
        </div>
        <div class="col col-6 text-center">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label *ngFor="let section of keys(show)" class="btn btn-secondary" [ngClass]="{'active': show[section]}">
              <input type="checkbox" (change)="toggleView($event, section)" [checked]="show[section]"
                autocomplete="off"> {{section | titlecase}}
            </label>
          </div>
        </div>
        <!-- <div class="col col-3 text-right">
          <button (click)="alert()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            sun
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row flex-fill fill d-flex">
    <div *ngIf="displayMenus" class="col col-3 bg-primary">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <div class="row">
        <div *ngIf="show.preview" class="col p-0 bg-secondary">
          <app-preview (toggleMenu)="toggleMenus()"></app-preview>
        </div>
        <div *ngIf="show.characters" class="col bg-warning" style="max-height: calc(100vh - 54px); overflow: auto">
          <app-character-editor></app-character-editor> <!-- TODO: make this dynamic / use grid -->
        </div>
        <div *ngIf="show.categories" class="col bg-danger" style="max-height: calc(100vh - 54px); overflow: auto">
          <app-filter-tags></app-filter-tags>
        </div>
        <div *ngIf="allfalse(show)" class="col">
          No views selected!!!!!!!!
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- TODO: https://medium.com/@tommatthews_14845/angular-bootstrap-with-dark-mode-toggle-4539ede28e16 THEME TOGGLE -->