<h2>Characters</h2>
<button class="btn btn-primary" type="button">filter</button>
<button (click)="addCharacter()" class="btn btn-primary" type="button">add new</button>
<ng-container *ngIf="characters.length">
    <ng-container *ngFor="let character of characters, let i = index">
        <div class="card">
            <div class="card-body">

                <!-- BASIC CHARACTER DATA EDITOR -->
                <app-character (characterChanged)="updateCharacter($event, i)" [character]="character" ></app-character>

                <!-- CHARACTER TAG EDITOR -->
                <div class="form-control">
                    Character Tags
                    <span *ngFor="let tag of character.tags, let id = index"
                        class="badge rounded-pill bg-primary"><i>{{tag.category}}</i>: {{tag.tag}}
                        <i (click)="removeTagFromCharacter(i, id)">del</i>
                    </span>
                    <input (selectItem)="addTagToCharacter(i, $event)" type="text" class="form-control"
                        [(ngModel)]="autofill" [ngbTypeahead]="search" [inputFormatter]="formatter"
                        [resultFormatter]="formatter" [editable]="false" />
                </div>

                <!-- THEME SPECIFIC DATA EDITOR -->
                <h5>Theme Data</h5>
                <small class="text-muted"><i>Just because some data isn't on display here doesn't mean it's gone! Only data applicable to the current selected theme is displayed.</i></small>
                <app-character-theme-data (characterThemeDataChanged)="setCharacterThemeData($event, i)" [theme]="theme" [characterThemeData]="character.themeData[theme]"></app-character-theme-data>

                <!-- USE NG TEMPLATES AND FORM CONTROL GENERATORS -->


                <!-- BUTTONS -->
                <button (click)="removeCharacter(i)" class="btn btn-primary" type="button">remove</button>
            </div>
        </div>
    </ng-container>
</ng-container>