<div id="previewContainer" class="container-fluid">

    <!-- DEPENDENCIES -->
    <!-- BOOTSTRAP & POPPERJS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- COMBOFILTER -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://static.tumblr.com/p0knose/FpAp5c11c/magnusthemes.combofilters.js"></script>


    <!-- FILTER CODE -->
    

    <!-- FILTER BLOCK -->

    <div class="row">
        filter characters
        <div class="col bg-primary option-set" *ngFor="let category of categories"
            [attr.data-filter-group]="category.title">
            {{category.title}}
            <a href="#" data-filter-value="" class="col filter m-1 selected btn rounded-0 btn-outline-light">All</a>
            <a href="#" *ngFor="let tag of category.tags" [attr.data-filter-value]="'.'+tag"
                class="col filter m-1 btn rounded-0 btn-outline-light">{{tag | titlecase}}</a>
        </div>
    </div>

    <div class="row filter-container">
        <ng-container *ngIf="theme == 'card'">
            <div *ngFor="let character of characters" class="col col-12 col-md-6 col-lg-4 col-xl-3 p-1 filter-item"
                [ngClass]="getTagsAsArray(character)">
                <app-card-chara [character]="character"></app-card-chara>
            </div>

        </ng-container>

        <!-- TODO: use ng switch -->

        <ng-container *ngIf="theme =='stats'">
            <div class="col col-12 col-md-6 col-lg-4 col-xl-3 p-1 filter-item" *ngFor="let character of characters">
                <app-stats-chara [character]="character"></app-stats-chara>
            </div>
        </ng-container>
    </div>
</div>

!NOTE! Preview responsiveness will not be accurate within application. <a href="/">View as popout</a> for accurate
responsive behavior.